*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

body{ 
    font-family: 'Montserrat', sans-serif;
}
/*navbar*/
.navbar{
    width: 100%;
    height:110px;
    background-color: #674582;
    color: white;
    position: fixed;
    z-index: 0;
   
}
a{
    text-decoration: none;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 15px;
}
.navbar__box{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto 0 auto;
}   
.navbar__logo{
    height:80%;
}

.navbar__mobile{
    display:none;
}

.navbar__icones{
    padding: 3px;
    width: 15%
}

/*banner*/

.banner{
    width: 100%;
    height:500px;
    background-image: url(../img/bg-banner-claro.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;

}
.banner__conteudo{
    display: block;
    padding:45px;
    width:55%;
    margin-left: 15%;
   
}
.banner__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color:white;
    padding:4px;
}

.banner__texto{
    color:white;
    padding:4px;
    margin-bottom: 3%;
}

.banner__btn{
    background-color: #C083B9;
    color:white;
    padding:10px;
    width:100px;
    border-radius: 3px;
    margin-top: 5px;
   align-items: flex-end;
}

/**section Perfil**/
.perfil{
    width:70%;
    margin: 0 auto;
}

.perfil__titulo{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color:#674582;
    text-align: center;
    margin:20px auto;
    padding:10px;
}

.perfil__links{
    width:70%;
    margin: 0 auto 150px auto;
    display: flex;
    flex-flow:wrap;
    justify-content: space-between  ;
    
}

.perfil__links img{
    width:170px;
    background-color:#63458A; 
    margin-top: 15px;
    border-radius: 15px;
      
}

.perfil__links__texto{
    color:#63458A;
    padding: 5px;
    text-align: center;
}

/**footer**/
a{
    text-decoration: none;
    color: white;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #323534;
    color: white;

}

.footer__box{
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__itens{
    display: block;
    width: 30%;
    font-size: 12px;
    padding: 15px;
}

.footer__logo {
    width: 100%;
    max-width: 250px;
    padding: 15px;
}

.footer__icon{
    height: 40px;
    padding: 0 5px 0 15px;
}

.footer__copyright{
    width: 100%;
    height: 30px;
    background-color:#292A2A;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    padding:10px;
    text-align: center;

}

/**header PERFIL**/
header{
    width: 100%;
    height:500px;
    background-image: url(../img/banner.jpg);
    background-size: cover ;
    display: flex;
    align-items: flex-end;
    padding-top: 150px;;
}


.header__titulo{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    padding:15px;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
}

/**section profile**/

.profile, .quote, .about{
    width: 70%;
    margin: 0 auto;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #63458A;
    margin: 20px auto;
    padding:15px;
    text-align: center;
}
.profile__img{
    width: 200px;
    border-radius: 100%;
    margin-bottom: 45px;
    
}
.profile__texto{
    width: 75%;
    text-align: justify;
    line-height: 30px;
    
}
/**Section Quote**/

.quote__frase {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color:#63458A;
    margin: 20px auto 50px auto;
    padding:20px;
    text-align: justify;
    line-height: 35px;
    border: 1px solid #63458A;
 }

 /**Section about**/

 .about__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #63458A;
    margin-bottom: 20px;
 }

 .about__texto{
    text-align: justify;
    line-height: 25px;
    padding-bottom: 15px;
    margin-bottom: 20px;
 }

 .about img{
     width:100%;
     margin-bottom: 20px;
 }

 /**section About Me**/
 .about-me{
     background-color: #E4B7E5;
     width: 100%;
     height: 150px;
     margin-top: 50px;
     margin-bottom: 60px;   
 }

 .about-me__layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
 }

 .about-me__layout img{
    height: 150px;
    padding-right: 50px;
 }

 .about-me__layout p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #63458A;
    line-height: 25px;
    margin-bottom: 15px;

 }
 
 .end{
    width: 30%;
    margin: 50px auto;
    text-align: center;
 }


 .end__btn{
    background-color: #C083B9;
    color:white;
    padding:15px;
    width:250px;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
 }








